@media screen and (max-width: 480px){
	.menu{
		justify-content: center;
	}
	#boxcontact, .contact, .formulaire {
		display: flex;
		flex-direction: column;
	}
	h2, #footer1{
		text-align: center;
	}
	
}

@media screen and (min-width: 481px) and (max-width: 960px){
	.menu{
		justify-content: center;
	}
	#boxcontact, .contact, .formulaire {
		display: flex;
		flex-direction: column;
	}
	h2{
		text-align: center;
	}
}
